<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <!-- add the navbar code below -->
<nav>
  <div class="nav-container">
    <a href="/" class="brand">BOOK-N-DINE</a>
    <div class="nav-links">
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
      <a href="/userProfile">Profile</a>  
    </div>
    <div class="menu-toggle">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>



    {{{body}}}
    <script src="/js/script.js"></script>
  </body>

   <!-- ... -->


</html>