  <h2>Welcome, {{ user.username }}!</h2>

{{#each reservation}}
{{>reservationDate this}}
{{/each}}


    <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>    

  
  <br><p>Still no logged in user, sorry!</p>
 
